:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.259);
  border-radius: 10px;
}
::-webkit-scrollbar{
  height: 3px;
  width: 0px;
}